* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.layout {
    height: 100vh;
}

.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}
.sider {
    display: flex;
    flex-direction: column;
}
.site-layout .site-layout-background {
    display: flex;
    background: #fff;
}
.switch-theme {
    width: 100%;
    height: 48px;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    padding: 0px 16px;
    font-size: 12px;
    bottom: 0px;
  }
.account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.account h2 {
    font-size: 13px;
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", "Arial";
    color: #000;
    font-weight: lighter;
    margin: 0;
}

.avatar {
    display: flex;
    padding: 0 20px;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.avatar img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 64px;
}

.copyright {
    text-align: center;
}